/* MOBILE FIRST */

/* AVVOLGITORE header e main */
.wrap-header-and-main {
  width: calc(100vw - 40px);
}

/* ASIDE */

/* far sparire la parte da 
m in su su mobile */
.upper-mobile-wrapper,
.instalApProfile-wrap {
  display: none;
}
 none;
}

.upper-mobile-wrapper .upper-icon-from-m li:first-child {
  border-left: 3px solid #a1ed2e;
}

/* colore del più della playlist */
aside .fa-plus {
  background-color: #a3a3a3;
}

main {
}

header {
  /* opacity: 0.9; */
}

@media screen and (min-width: 601px) {
  .wrap-header-and-main {
    width: calc(100vw - 175px);
  }
  aside.black-color-bg {
    width: 200px;
  }
  /* far sparire il menu da mobile */
  aside .icon-wrap-mobile {
    display: none;
  }
  /* far apparire il menu sopra 
  e sotto da dimensione m */
  .upper-mobile-wrapper {
    display: flex;
  }
  .instalApProfile-wrap {
    display: flex;
    flex-direction: column;
  }

  header::after {
    background: red;
    content: 'siamo in s';
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 10vw;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 668px) {
  header::after {
    background: green;
    content: 'siamo in m';
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 10vw;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1200px) {
  header::after {
    background: dodgerblue;
    content: 'siamo in l';
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 10vw;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
}
