.wrap-all-but-footer {
  height: calc(100vh - 70px);
}

/* MOBILE FIRST */
/* AVVOLGITORE header e main */
.wrap-header-and-main {
  width: calc(100vw - 40px);
}

/* MAIN */
main .row img {
  max-width: 180px;
}

/* evitare che i layer delle immagini fuoriescano
di qualche pixel dalle immagini stesse */
main img {
  display: block;
}

main .titles-in-main {
  bottom: 97%;
  left: 0;
}
main .titles-in-main-row2,
main .titles-in-main-row3 {
  bottom: 102%;
  left: 0;
}

main .layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
main .layer.circled {
  border-radius: 50%;
}

main .circle-of-play {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
}
main .fa-play {
  left: 57%;
  top: 47%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
}

main .layer:hover .circle-of-play {
  opacity: 1;
}
main .layer:hover .fa-play {
  opacity: 1;
}

main .layer:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* ASIDE */
/* far sparire la parte da 
m in su su mobile */
.upper-mobile-wrapper,
.instalApProfile-wrap {
  display: none;
}
/* stili  della lista di playlist (no classi di
riutilizzo per mettere create element in js
seza dover attribuire troppe classi)*/
aside .new-playlist-ul input ::placeholder {
  color: #fff;
}
aside #newPlaylistUl a,
.create-playlist {
  display: inline-block;
  text-decoration: none;
  color: #808080;
  font-size: 0.8rem;
  padding-left: 13px;
  padding-bottom: 8px;
}
aside #newPlaylistUl a:hover {
  color: #fff;
}
/* colore del più della playlist */
aside .fa-plus {
  background-color: #a3a3a3;
}
/* contenitore in basso aside
(installa app e profilo) */
aside .position-profile {
  bottom: 10%;
  left: 0;
}
/* HEADER BOTTON */
header button {
  border-color: #fff;
  transition: scale 0.2s;
}
header button:hover {
  transform: scale(1.03);
}
/* FOOTER */
/* creare linea verticale
 in fondo alle freccie prima
 e dopo tasto play */
footer .fa-caret-left span {
  bottom: 19%;
  right: 91%;
}
footer .fa-caret-right span {
  bottom: 19%;
  left: 91%;
}
/* animazioni barre di scorrimeto e
pallino che si crea in fondo */

.time-bar:hover .scorrimento-tempo {
  background-color: #a1ed2e;
}
.progression-audio:hover .scorrimento-audio {
  background-color: #a1ed2e;
}

.time-bar:hover .pallino.tempo {
  opacity: 1;
}
.progression-audio:hover .pallino.audio {
  opacity: 1;
}
.pallino {
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
footer .wrap-play-btn {
  transition: scale 0.2s;
}
footer .wrap-play-btn:hover {
  transform: scale(1.1);
}
footer .fa-play:hover {
  border: 0;
}

/* **************** */
/* MEDIA QUERIES */
@media screen and (min-width: 601px) {
  .wrap-header-and-main {
    width: calc(100vw - 175px);
  }
  aside.black-color-bg {
    width: 200px;
    padding-bottom: 0;
  }
  /* far sparire il menu da mobile */
  aside .icon-wrap-mobile {
    display: none;
  }
  /* far apparire il menu sopra 
  e sotto da dimensione m */
  .upper-mobile-wrapper {
    display: flex;
  }

  .instalApProfile-wrap {
    display: flex;
    flex-direction: column;
  }

  .active.aside-icon-element {
    background-color: #a1ed2e;
  }
  /* colorazione e hover di nuovaplaylist
  come icona e suo testo (grigio leggermente
  diverso dal grigio dei testi) */
  aside .fa-plus {
    background-color: #a3a3a3;
  }
  aside .fa-plus:hover .create-playlist {
    color: #fff;
  }
  aside .create-playlist:hover .fa-plus {
    background-color: #fff;
  }
  /* posizionamento del nome profilo */
  h5.profile-name {
    top: 43%;
    left: 13%;
  }
  /* footer */
  .brano-e-like-wrap {
    width: 28%;
  }
  .heartFolder-wrap {
    flex-grow: 2.2;
  }
  .player-wrap {
    width: 40%;
  }
  .player-btn-wrap {
    width: 55%;
  }
  .time-bar {
    width: 73%;
  }
  .volum-wrap {
    width: 28%;
  }
  .progression-audio {
    width: 50%;
  }

  /* header::after {
    background: red;
    content: 'siamo in s';
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 27%; */
}

@media screen and (min-width: 668px) {
  .player-btn-wrap {
    width: 50%;
  }
  .time-bar {
    width: 77%;
  }
  .volum-wrap {
    width: 25%;
  }

  /* header::after {
    background: green;
    content: 'siamo in m';
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 27%;
  } */
}

@media screen and (min-width: 1200px) {
  /* footer */
  .brano-e-like-wrap {
    width: 17%;
  }
  .heartFolder-wrap {
    flex-direction: row;
    width: 24%;
    flex-grow: initial;
  }
  .player-wrap {
    width: 37%;
  }
  .player-btn-wrap {
    width: 40%;
  }
  .time-bar {
    width: 85%;
  }
  .volum-wrap {
    width: 17%;
  }
  .progression-audio {
    width: 60%;
  }
  /* header::after {
    background: dodgerblue;
    content: 'siamo in l';
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 27%;
  } */
}
