/* AVVOLGITORE header e main */
.wrap-header-and-main {
  width: calc(100vw - 80px);
}

main {
}

header {
  /* opacity: 0.9; */
}

@media screen and (min-width: 601px) {
  .wrap-header-and-main {
    width: calc(100vw - 175px);
  }
  aside.black-color-bg {
    width: 200px;
  }
  header::after {
    background: red;
    content: 'siamo in s';
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 10vw;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 668px) {
  header::after {
    background: green;
    content: 'siamo in m';
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 10vw;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1200px) {
  header::after {
    background: dodgerblue;
    content: 'siamo in l';
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    margin-left: 10vw;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
}
